<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.binumtontine">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/banklogo_icon"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activity.pdf.PDFWriterDemo"></activity>
        <activity android:name=".activity.pdf.RetraitEavPDFWriter"></activity>
        <activity android:name=".activity.pdf.PdfActivity" />
        <activity android:name=".activity.pdf.ItextPDF" />
        <activity android:name=".activity.adherent.HistoriqueEAV" />
        <activity android:name=".activity.adherent.DemandeCredit" />
        <activity android:name=".activity.TableActivity" />
        <activity android:name=".activity.CreateProduitCredit" />
        <activity android:name=".activity.adherent.MainActivityUsager" />
        <activity android:name=".activity.adherent.NextActivity" />
        <activity android:name=".activity.adherent.CreateEAV" />
        <activity android:name=".activity.adherent.CreateEAT" />
        <activity android:name=".activity.adherent.CreateEAP" />
        <activity android:name=".activity.adherent.InitialisationCaisseGuichet" />
        <activity android:name=".activity.adherent.ListCompteAdherentActivity" />
        <activity android:name=".activity.adherent.ListCompteAdherentActivity_New" />
        <activity android:name=".activity.adherent.ConsulterCompte" />
        <activity android:name=".activity.adherent.CalculFraisTenueCompteAnnuel" />
        <activity android:name=".activity.adherent.OperationEAV" />
        <activity android:name=".activity.adherent.OperationEAT" />
        <activity android:name=".activity.adherent.OperationEAP" />
        <activity android:name=".activity.PlageData" />
        <activity android:name=".activity.PlageDataTPT" />
        <activity android:name=".activity.PlageDataRAT" />
        <activity android:name=".activity.Plage" />
        <activity android:name=".activity.PlageDataTIP" />
        <activity android:name=".activity.PlageDataTEP" />
        <activity android:name=".activity.PlageDataNTP" />
        <activity android:name=".activity.PlageDataRAP" />
        <activity android:name=".activity.PlageDataTIV" />
        <activity android:name=".activity.PlageDataCTP_NEW" />
        <activity android:name=".activity.PlageDataPRD" />
        <activity android:name=".activity.PlageDataPRC" />
        <activity android:name=".activity.PlageDataIRD" />
        <activity android:name=".activity.PlageDataIRC" />
        <activity android:name=".activity.PlageDataTIA" />
        <activity android:name=".activity.PlageDataFCV" />
        <activity android:name=".activity.PlageDataFEC_NEW" />
        <activity android:name=".activity.PlageDataFDB_NEW" />
        <activity android:name=".activity.PlageDataFCX_NEW" />
        <activity android:name=".activity.PlageDataCAP_NEW" />
        <activity android:name=".activity.PlageDataTCP_NEW" />
        <activity android:name=".activity.PlageDataTAS_NEW" />
        <activity android:name=".activity.PlageDataTIC_NEW" />
        <activity android:name=".activity.PlageDataPAS_NEW" />
        <activity android:name=".activity.ListPlageTIT" />
        <activity android:name=".activity.ListPlageFEC" />
        <activity android:name=".activity.ListPlageFDB" />
        <activity android:name=".activity.ListPlageFCV" />
        <activity android:name=".activity.ListPlageFCX" />
        <activity android:name=".activity.ListPlageTIA" />
        <activity android:name=".activity.ListPlageIRC" />
        <activity android:name=".activity.ListPlagePRC" />
        <activity android:name=".activity.ListPlageTIC" />
        <activity android:name=".activity.ListPlageTCP" />
        <activity android:name=".activity.ListPlagePAS" />
        <activity android:name=".activity.ListPlageTAS" />
        <activity android:name=".activity.ListPlageTIP" />
        <activity android:name=".activity.ListPlageCTP" />
        <activity android:name=".activity.ListPlagePRD" />
        <activity android:name=".activity.ListPlageCAP" />
        <activity android:name=".activity.ListPlageIRD" />
        <activity android:name=".activity.ListPlageTIV" />
        <activity android:name=".activity.ListPlageTEP" />
        <activity android:name=".activity.ListPlageNTP" />
        <activity android:name=".activity.ListPlageRAP" />
        <activity android:name=".activity.ListPlageTPT" />
        <activity android:name=".activity.ListPlageRAT" />
        <activity android:name=".activity.ListPlageDBT" />
        <activity android:name=".activity.ListPlageTT0" />
        <activity android:name=".activity.ListPlageTT1" />
        <activity android:name=".activity.ListPlageTT2" />
        <activity android:name=".activity.ListPlageTT3" />
        <activity android:name=".activity.ListPlageDataTASActivity" />
        <activity android:name=".activity.ListPlageDataTITActivity" />
        <activity android:name=".activity.PlageDataTAS" />
        <activity android:name=".activity.PlageDataTIT" />
        <activity android:name=".activity.PlageDataVIB" />
        <activity android:name=".activity.PlageDataDBT" />
        <activity android:name=".activity.PlageDataTT0" />
        <activity android:name=".activity.PlageDataTT1" />
        <activity android:name=".activity.PlageDataTT2" />
        <activity android:name=".activity.PlageDataTT3" />
        <activity android:name=".activity.ListPlageDataPASActivity" />
        <activity android:name=".activity.PlageDataPAS" />
        <activity android:name=".activity.ListPlageDateActivity" />
        <activity android:name=".activity.CreateOperationTransfertEnvoyer" />
        <activity android:name=".activity.CreateOperationTransfertRetrait" />
        <activity
            android:name=".activity.parametrageGuichet.ParamGuichetActivity"
            android:label="@string/title_activity_param_guichet"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.CreateCaisse" />
        <activity android:name=".activity.BrouillardCaisse" />
        <activity android:name=".activity.CreateGuichet" />
        <activity android:name=".activity.SituationGuichet" />
        <activity android:name=".activity.ClotureJourneeActivity" />
        <activity android:name=".activity.adherent.CreateAdherent" />
        <activity android:name=".activity.adherent.ListDemandeRetraitAffilierActivity" />
        <activity android:name=".activity.adherent.ValidationOperationDemandeRetrait" />
        <activity android:name=".activity.collecte.ListCollecteurActivity" />
        <activity android:name=".activity.collecte.JourOuvertCollecteur" />
        <activity android:name=".activity.adherent.ListCompteDecouvertAdherentActivity" />
        <activity android:name=".activity.adherent.ListCompteDecouvertPermanentAdherentActivity" />
        <activity android:name=".activity.adherent.ListCompteAvanceSpecialeAdherentActivity" />
        <activity android:name=".activity.adherent.GetPieceAdherent" />
        <activity android:name=".activity.adherent.GetFraisAdherent" />
        <activity android:name=".activity.adherent.CreateCpteCourant" />
        <activity android:name=".activity.adherent.HistoriqueCpteCourant" />
        <activity android:name=".activity.adherent.OperationCompteCourant" />
        <activity android:name=".activity.adherent.OperationDecouvertPermanent" />
        <activity android:name=".activity.adherent.ControleOperationCompteCourant" />
        <activity android:name=".activity.adherent.ValidationOperationCompteCourant" />
        <activity android:name=".activity.adherent.ComiteCredit" />
        <activity android:name=".activity.adherent.DeblocageCredit" />
        <activity android:name=".activity.adherent.DecaissementCredit" />
        <activity android:name=".activity.adherent.MiseAJourCaisseGuichet" />
        <activity android:name=".activity.GuichetNewActivity" />
        <activity android:name=".activity.UserGuichetActivity" />
        <activity android:name=".activity.CreateUser" />
        <activity android:name=".activity.CreateUserGuichet" />
        <activity android:name=".activity.UpdateEAV" />
        <activity android:name=".activity.UpdateEAT" />
        <activity android:name=".activity.parametrageGuichet.UpdateEAVForGuichet" />
        <activity android:name=".activity.parametrageGuichet.ListWorkflowGuichet" />
        <activity android:name=".activity.parametrageGuichet.CreateWorkflowGx" />
        <activity android:name=".activity.parametrageGuichet.ProduitEATGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.ProduitCreditGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.UpdateProduitCreditForGuichet" />
        <activity android:name=".activity.parametrageGuichet.ProduitEAPGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.TypeMembreGxActivity" />
        <activity android:name=".activity.parametrageGuichet.ListTypeMembrePFgxActivity" />
        <activity android:name=".activity.parametrageGuichet.UpdateEATForGuichet" />
        <activity android:name=".activity.parametrageGuichet.UpdateEAPForGuichet" />
        <activity android:name=".activity.UpdateEAP" />
        <activity android:name=".activity.UpdateCaisse" />
        <activity android:name=".activity.UpdateGuichet" />
        <activity android:name=".activity.UpdateUser" />
        <activity android:name=".activity.UpdateUserGuichet" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.UpdateOrganeFaitier" />
        <activity android:name=".activity.UpdateProduitCpteCourant" />
        <activity android:name=".activity.PlageDataCTP" />
        <activity android:name=".activity.PlageDataCAP" />
        <activity android:name=".activity.PlageDataTCP" />
        <activity android:name=".activity.PlageDataFDB" />
        <activity android:name=".activity.PlageDataFCX" />
        <activity android:name=".activity.UpdateProduitCredit" />
        <activity android:name=".activity.PlageDataTIC" />
        <activity android:name=".activity.ListPlageDataCTPActivity" />
        <activity android:name=".activity.ListPlageDataTICActivity" />
        <activity android:name=".activity.ListPlageDataFECActivity" />
        <activity android:name=".activity.ListPlageDataFDBActivity" />
        <activity android:name=".activity.ListPlageDataFCXActivity" />
        <activity android:name=".activity.PlageDataFEC" />
        <activity android:name=".activity.ListPlageVIB" />
        <activity android:name=".activity.ListPlageDataCAPActivity" />
        <activity android:name=".activity.ListPlageDataTCPActivity" />
        <activity android:name=".activity.parametreGenerauxOF.ParametreGenerauxOFActivity" />
        <activity android:name=".activity.parametreGenerauxOF.CreateObjetCreditOf" />
        <activity android:name=".activity.parametreGenerauxOF.ListObjetCredit" />
        <activity android:name=".activity.parametreGenerauxCx.ListObjetCreditCx" />
        <activity android:name=".activity.parametreGenerauxCx.AffectObjetCreditFromOfToCx" />
        <activity android:name=".activity.parametreGenerauxCx.ListEtapeDemandeCreditCx" />
        <activity android:name=".activity.parametreGenerauxCx.ListStatutEtapeCreditCx" />
        <activity android:name=".activity.parametreGenerauxCx.AffectStatutEtapeDemandeCreditCx" />
        <activity android:name=".activity.parametreGenerauxCx.AffectEtapeDemandeCreditCx" />
        <activity android:name=".activity.parametreGenerauxOF.UpdateObjetCreditOF" />
        <activity android:name=".activity.parametreGenerauxOF.ListStatutEtapesDemandesCreditOF" />
        <activity android:name=".activity.parametreGenerauxOF.CreateStatutEtapeDemandeCreditOf" />
        <activity android:name=".activity.parametreGenerauxOF.UpdateStatutEtapeDemandeCreditOF" />
        <activity android:name=".activity.parametreGenerauxOF.ListEtapesDemandesCreditOF" />
        <activity android:name=".activity.parametreGenerauxOF.CreateEtapeDemandeCreditOf" />
        <activity android:name=".activity.parametreGenerauxOF.UpdateEtapeDemandeCreditOF" />
        <activity android:name=".activity.parametreGenerauxCx.ParametreGenerauxCxActivity" />
        <activity android:name=".activity.parametreGenerauxOF.CreatePieceToFournirOf" />
        <activity android:name=".activity.parametreGenerauxCx.CreatePieceToFournirCx" />
        <activity android:name=".activity.parametreGenerauxOF.CreateFraisToPayerOf" />
        <activity android:name=".activity.parametreGenerauxOF.operationExternes.CreateOperationExterneOf" />
        <activity android:name=".activity.parametreGenerauxOF.operationExternes.ListOperationExterneOF" />
        <activity android:name=".activity.parametreGenerauxOF.operationExternes.UpdateOperationExterneOF" />
        <activity android:name=".activity.parametreGenerauxCx.CreateFraisToPayerCx" />
        <activity android:name=".activity.parametreGenerauxCx.operationExterne.ListOperationExterneCx" />
        <activity android:name=".activity.parametreGenerauxCx.operationExterne.AffectOperationExterneCx" />
        <activity android:name=".activity.parametreGenerauxCx.TypeMembreCxActivity" />
        <activity android:name=".activity.parametreGenerauxCx.ListTypeMembrePFActivity" />
        <activity android:name=".activity.jourOuvert.JourOuvert" />
        <activity android:name=".activity.parametrageGuichet.ListGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.ProduitGuichetFragment" />
        <activity android:name=".activity.parametrageGuichet.ProduitEAVGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.ProduitCpteCourantGuichetActivity" />
        <activity android:name=".activity.parametrageGuichet.UpdateProduitCpteCourantForGuichet" />
        <activity android:name=".activity.parametrageGuichet.ParametreGenerauxGxActivity" />
        <activity android:name=".activity.parametrageGuichet.CreatePieceToFournirGx" />
        <activity android:name=".activity.parametrageGuichet.CreateFraisToPayerGx" />
        <activity android:name=".activity.parametreGenerauxOF.CreateTypeMembreOf" />
        <activity android:name=".activity.parametreGenerauxOF.TypeMembreActivity" />
        <activity android:name=".activity.CreateOperationExterneDetails" />
        <activity android:name=".activity.ListOperationExterneDetails" />
        <activity android:name=".remotemysqlconnection.AddMovieActivity" />
        <activity android:name=".remotemysqlconnection.MovieUpdateDeleteActivity" />
        <activity android:name=".remotemysqlconnection.MovieListingActivity" />
        <activity android:name=".remotemysqlconnection.RemoteMySQLActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".activity.CreateProduitEAV" />
        <activity
            android:name=".activity.ProduitEAVActivity"
            android:label="@string/title_activity_produit_eav"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity android:name=".activity.CreateProduitEAP" />
        <activity android:name=".activity.CreateProduitEAT" />
        <activity android:name=".activity.CreateProduitCpteCourant" />
        <activity
            android:name=".activity.ProduitEAPActivity"
            android:label="@string/title_activity_produit_eap"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activity.ProduitEATActivity"
            android:label="@string/title_activity_produit_eat"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activity.ProduitCpteCourantActivity"
            android:label="@string/title_activity_produit_cc"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activity.ProduitCreditActivity"
            android:label="@string/title_activity_produit_credit"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity_NEW"
            android:theme="@style/MyMaterialTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".activity.LoginActivity" -->
        <!-- android:theme="@style/MyMaterialTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.UsersCaisseActivity"
            android:label="@string/title_activity_users_caisse"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activity.CaisseActivity"
            android:label="@string/title_activity_caisse"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity android:name=".activity.PreParametrageOFActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.MainActivity" /> <!-- <activity android:name=".activity.MainActivityBackup"></activity> -->
        <activity android:name=".activity.MainActivityAdminCaisse" />
        <activity android:name=".activity.ParametrageProduitCaisseActivity" />
        <activity android:name=".activity.GuichetActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
<!--        Bloc to create pdf and print with wifi printer-->
        <provider
            android:authorities="edmt.dev.androidpdfprint.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>